* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.monsters-pokedex {
  font-family: 'Liu Jian Mao Cao', cursive;
  margin-top: 5%;
  font-size: 72px;
  color: #2289a9;
}
